# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf
/.github export-ignore
/benchmarks export-ignore
/tests export-ignore
/examples export-ignore
/tools export-ignore
.codecov.yml export-ignore
.gitattributes export-ignore
.gitignore export-ignore
CONTRIBUTING.md export-ignore
mkdocs.yml export-ignore
phpbench.json export-ignore
phpunit.xml.dist  export-ignore
