<?php

use PhpCsFixer\Config;
use PhpCsFixer\Finder;

$rules = [
    '@PSR2' => true,
    'array_syntax' => [
        'syntax' => 'short',
    ],
];

return Config::create()->setRules($rules)
    ->setFinder(Finder::create()->in(__DIR__))
    ->setUsingCache(true)
    ->setRiskyAllowed(true);
