parameters:
    level: 3

    reportUnmatchedIgnoredErrors: false

    inferPrivatePropertyTypeFromConstructor: true

    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests

    ignoreErrors:
        - "~Construct empty\\(\\) is not allowed\\. Use more strict comparison~"
        - "~(Method|Property) .+::.+(\\(\\))? (has parameter \\$\\w+ with no|has no return|has no) typehint specified~"
        - "~Variable property access on .+~"
        - "~Variable method call on GraphQL\\\\Language\\\\Parser\\.~"
        - "~Variable method call on static\\(GraphQL\\\\Server\\\\ServerConfig\\)~" # TODO get rid of
        - "~Only booleans are allowed in .*~" # TODO https://github.com/phpstan/phpstan-strict-rules/issues/2
        # A whole class of errors in PHPStan is a result of PHP's lack of union types.
        # This commonly happens in the parts of the code that deal with the GraphQL
        # type system where we can currently use interfaces and lose type safety.
        # Until we find a better way, we can list related error's here.
        - "~Access to an undefined property GraphQL\\\\Type\\\\Definition\\\\NamedType::\\$name~"
        # Those come from graphql-php\tests\Language\VisitorTest.php
        - "~Access to an undefined property GraphQL\\\\Language\\\\AST\\\\.+::\\$didEnter~"
        - "~Access to an undefined property GraphQL\\\\Language\\\\AST\\\\.+::\\$didLeave~"
        - "~Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node::\\$value~"
        # TODO fix those newly added errors and finish upgrading to PhpStan 0.12
        - "~Anonymous function should have native return typehint~"
        - "~Anonymous function should return .* but return statement is missing.~"
        - "~Anonymous function sometimes return something but return statement at the end is missing.~"
        - "~Short ternary operator is not allowed. Use null coalesce operator if applicable or consider using long ternary.~"

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

services:
    -
        class: GraphQL\Tests\PhpStan\Type\Definition\Type\IsInputTypeStaticMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
    -
        class: GraphQL\Tests\PhpStan\Type\Definition\Type\IsOutputTypeStaticMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
    -
        class: GraphQL\Tests\PhpStan\Type\Definition\Type\IsCompositeTypeStaticMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
