parameters:
    level: 1

    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
