parameters:
	ignoreErrors:
		-
			message: "#^Variable method call on \\$this\\(GraphQL\\\\Examples\\\\Blog\\\\Type\\\\CommentType\\)\\.$#"
			count: 1
			path: examples/01-blog/Blog/Type/CommentType.php

		-
			message: "#^Variable property access on GraphQL\\\\Examples\\\\Blog\\\\Data\\\\Comment\\.$#"
			count: 1
			path: examples/01-blog/Blog/Type/CommentType.php

		-
			message: "#^Variable property access on mixed\\.$#"
			count: 1
			path: examples/01-blog/Blog/Type/Field/HtmlField.php

		-
			message: "#^Variable method call on \\$this\\(GraphQL\\\\Examples\\\\Blog\\\\Type\\\\QueryType\\)\\.$#"
			count: 1
			path: examples/01-blog/Blog/Type/QueryType.php

		-
			message: "#^Variable method call on \\$this\\(GraphQL\\\\Examples\\\\Blog\\\\Type\\\\StoryType\\)\\.$#"
			count: 1
			path: examples/01-blog/Blog/Type/StoryType.php

		-
			message: "#^Variable property access on GraphQL\\\\Examples\\\\Blog\\\\Data\\\\Story\\.$#"
			count: 1
			path: examples/01-blog/Blog/Type/StoryType.php

		-
			message: "#^Variable method call on \\$this\\(GraphQL\\\\Examples\\\\Blog\\\\Type\\\\UserType\\)\\.$#"
			count: 1
			path: examples/01-blog/Blog/Type/UserType.php

		-
			message: "#^Variable property access on mixed\\.$#"
			count: 1
			path: examples/01-blog/Blog/Type/UserType.php

		-
			message: "#^Variable static method call on GraphQL\\\\Examples\\\\Blog\\\\Types\\.$#"
			count: 1
			path: examples/01-blog/Blog/Types.php

		-
			message: "#^Variable property access on GraphQL\\\\Language\\\\AST\\\\Node\\.$#"
			count: 1
			path: src/Language/AST/Node.php

		-
			message: "#^Variable property access on GraphQL\\\\Language\\\\AST\\\\Node\\.$#"
			count: 1
			path: src/Language/Visitor.php

		-
			message: "#^Variable property access on GraphQL\\\\Language\\\\AST\\\\Node\\|null\\.$#"
			count: 1
			path: src/Language/Visitor.php

		-
			message: "#^Variable property access on mixed\\.$#"
			count: 2
			path: src/Utils/AST.php

		-
			message: "#^Method GraphQL\\\\Utils\\\\SchemaExtender\\:\\:extendType\\(\\) should return GraphQL\\\\Type\\\\Definition\\\\ListOfType\\|\\(GraphQL\\\\Type\\\\Definition\\\\NamedType&GraphQL\\\\Type\\\\Definition\\\\Type\\)\\|GraphQL\\\\Type\\\\Definition\\\\NonNull but returns GraphQL\\\\Type\\\\Definition\\\\Type\\.$#"
			count: 1
			path: src/Utils/SchemaExtender.php

		-
			message: "#^Variable property access on object\\.$#"
			count: 1
			path: src/Utils/Utils.php

		-
			message: "#^Variable property access on \\$this\\(GraphQL\\\\Tests\\\\Type\\\\TypeLoaderTest\\)\\.$#"
			count: 1
			path: tests/Type/TypeLoaderTest.php

