name: "Coding Standards"

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  php-codesniffer:
    name: "PHP CodeSniffer"
    runs-on: "ubuntu-20.04"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "8.0"
          tools: "cs2pr"

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v1"

      - name: "Run PHP_CodeSniffer"
        run: "vendor/bin/phpcs -q --no-colors --report=checkstyle | cs2pr"

  normalize-composer-json:
    name: "Normalize composer.json"
    runs-on: "ubuntu-20.04"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "8.0"

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v1"

      - name: "Normalize composer.json"
        run: "composer normalize --dry-run"
