name: "Docs"

on:
  push:
    branches:
      - "master"

jobs:
  deploy-docs:
    name: "Deploy docs"
    runs-on: "ubuntu-20.04"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3

      - name: "Deploy docs"
        uses: mhausenblas/mkdocs-deploy-gh-pages@1.25
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
